/* About section */

.main__page-section--about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-top: 150px;
}
/*section content and contnaire*/
.section--about-content{
    width: 60%;
    text-align: center;
    margin: 20px auto;
}

.section--about-content--contenaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
/*section Title*/
.section--about-content--title{
    font-size: 2.6rem;
    color: var(--txt-color);
    margin-bottom: 90px;
    text-shadow: 5px 5px 10px #999;
}
/*section image*/
.section--about-content--img{
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #999;
    transition: transform 0.3s ease;
}

.section--about-content--img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.section--about-content--img:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 20px #666;

}

/*Section para*/

.section--about-content--para{
    font-size: 1.1em;
    font-weight: bold;
    color: var(--txt-color);
    text-align: justify; /* justifie le texte : bord gauche ET droit bien alignés */
    line-height: 1.3;   
}

.section--about-content--para:hover{
    background: var(--bg-color-);
    padding: 15px;
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
    box-shadow: 8px 8px 20px #666;
    border-radius: 20px;
}
/*Responsivite*/
@media screen and (max-width: 768px) {

    .section--about-content{
        margin: 100px;
        width: 100%;
        height: auto;
        text-align: center;
    }
    .section--about-content--contenaire{
        flex-direction: column;
    }
    .section--about-content--img{
        width: 100%;
        max-width: 300px;
    }
}