/* Home section */
.main__page-section--home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: 130px;
}
/* Home section content */
.section--home-content{
    width: 100%;
    text-align: center;
}
/* Home section title */
.section--home-content--title{
    font-size: 2.5rem;
    color: var(--txt-color);
    margin-bottom: 20px;
    text-shadow: 1px 1px 10px #999;
    font-style: oblique;
}
/* Home section box */
.section--home-content--cache{
    background-color: #000;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
    opacity: 0;
    padding: 50px;
}

.section--home-content--cache:hover{
    opacity: 0.8;
    transition: opacity 2s ease-in-out;
    transform: scale(1.2);
    background-color: #999;
    border: 10px dotted #333;
    box-shadow:     5px 5px 15px 0px rgba(0,0,0,0.5), 
    0 0 30px 10px rgba(79, 79, 80, 0.4),
    0 0 50px 20px rgba(30, 29, 29, 0.3); 
    text-shadow: 1px 1px 5px #333;
    margin-top: 10px;
}

.section--home-content--para{
    font-size: 1.2rem;
    color: var(--txt-color);
    margin-bottom: 20px;
}   
/* Home section icone */
.social_img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    transition: transform 0.3s ease;
    margin-bottom: 15px;
}   

.social_img:hover {
    transform: scale(1.2);
}

/* Home section btn*/
.section--home-content--btn{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--bg-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section--home-content--btn:hover {
    transform: scale(1.1);
    background-color: var(--txt-color);
}

.section--home-content--btn a{
    color: var(--txt-color);
}

.section--home-content--btn:hover .section--home-content--btn-link, 
.section--home-content--btn-link:hover {
    color: var(--bg-color);
}

/*Responsiviter*/

